@import './styles/tailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities; 
body{
    background: rgba(216, 216, 216, 0.705);
}
/* Equivalent CSS for Tailwind CSS classes */
main {
    height: 100vh; /* h-screen */
    margin-top: 2rem; /* my-8 */
    margin-bottom: 2rem; /* my-8 */
    display: flex; /* flex */
    gap: 2rem; /* gap-8 */
  }
  